@model Baufest.Tennis.Web.Models.PartidoCreateUpdateViewModel

@Html.ValidationSummary(true, null, new { @class = "text-danger" })

<div class="form-group">
    @Html.LabelFor(m => m.FechaComienzo)
    @Html.TextBoxFor(m => m.FechaComienzo, "{0:dd/MM/yyyy}", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.FechaComienzo, null, new {@class = "text-danger"})
</div>

<div class="form-group">
    @Html.LabelFor(m => m.IdJugadorLocal)
    @Html.DropDownListFor(m => m.IdJugadorLocal, (IEnumerable<SelectListItem>)Model.ListaDeJugadores, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.IdJugadorLocal, null, new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.IdJugadorVisitante)
    @Html.DropDownListFor(m => m.IdJugadorVisitante, (IEnumerable<SelectListItem>)Model.ListaDeJugadores, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.IdJugadorVisitante, null, new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.IdCancha)
    @Html.DropDownListFor(m => m.IdCancha, (IEnumerable<SelectListItem>)Model.ListaDeCanchas, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.IdCancha, null, new { @class = "text-danger" })
</div>

<div class="form-group">
    <button type="submit" class="btn btn-primary">Guardar</button>
    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-warning"})
</div>
